# 忽略编译生成的二进制文件
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.ko
*.d


# 忽略编译中间产物
*.s
*.i
*.o
*.out
*.cmd
*.bin
*.su
*.tmp
*.dtb
*.old
*.config
*.map
*.cfgout
*.srec
*.log
*.imx
*.lds
*.cfg
*.sym
*.order
*.mod.c
*.mod
*.dtb.S
*.dtbo
*.syms
*.S


# 忽略构建工具生成的目录
build/
dist/
out/
target/
generated/
config/
asymmetric_keys/
output/
iperf-3.18/

#忽略一些文件
.binman_stamp
obc_lvgl
u-boot
dtc-lexer.lex.c
dtc-parser.tab.c
config.h
dtc-parser.tab.h
rootfs.ext2
Module.symvers
.version
dtbs-list
.checked-atomic-arch-fallback.h
.checked-atomic-instrumented.h
.checked-atomic-long.h
autoconf.mk.dep
autoconf.mk
.mconf-cfg
zconf.lex.c
zconf.tab.c
generated_defconfig
.tmp_vmlinux1
.tmp_vmlinux2
.vmlinux.export.c
vdso.so.dbg
signing_key.x509
modules.builtin
modules.builtin.modinfo
vmlinux
rsaprivkey.asn1.c
rsaprivkey.asn1.h
rsapubkey.asn1.c
rsapubkey.asn1.h
lexer.lex.c
parser.tab.c
parser.tab.h
bmp_logo.h
bmp_logo_data.h

tools-priority
tools-mem
tools-smart
StockMonitor
camera-fb
printf_test
pxp_demo
LiteMonitor
upgrade
pack
unpack_demo


obc_sdk/